@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
:root {
  --Dark-grayish-orange: hsl(35, 11%, 61%);
  --Dark-magenta: hsl(290, 70%, 36%);
  --Dark-moderate-cyan: hsl(185, 42%, 37%);
  --Dark-orange: hsl(25, 99%, 27%);
  --Dark-red: hsl(6, 70%, 34%);
  --Dark-violet: hsl(281, 89%, 26%);
  --Desaturated-dark-blue: hsl(225, 21%, 49%);
  --Desaturated-dark-blue2: hsl(224, 28%, 35%);
  --Grayish-orange: hsl(28, 16%, 65%);
  --Grayish-red: hsl(0, 5%, 81%);
  --Light-gray: hsl(0, 0%, 90%);
  --Light-grayish-orange: hsl(30, 25%, 89%);
  --Light-grayish-yellow: hsl(45, 7%, 89%);
  --Light-yellow: hsl(52, 100%, 62%);
  --Orange: hsl(25, 98%, 40%);
  --Pure-cyan: hsl(176, 100%, 44%);
  --Red: hsl(6, 63%, 50%);
  --Soft-cyan: hsl(177, 92%, 70%);
  --Very0-dark-violet: hsl(268, 75%, 9%);
  --Very-dark-cyan: hsl(185, 58%, 25%);
  --Very-dark-violet: hsl(268, 71%, 12%);
  --Very-dark-desaturated-blue: hsl(222, 26%, 31%);
  --Very-dark-desaturated-blue2: hsl(223, 31%, 20%);
  --Very-dark-desaturated-blue3: hsl(224, 36%, 15%);
  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --Very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --Very-dark-blue: hsl(198, 20%, 13%);
  --Very-dark-violet: hsl(268, 47%, 21%);
  --Very-light-gray: hsl(0, 0%, 93%);
  --Vivid-magenta: hsl(285, 91%, 52%);
  --White: hsl(0, 0, 100%);
}
* {
  box-sizing: border-box;
  color: var(--Very-dark-grayish-blue);
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
}
body.active1,
body {
  background-color: var(--Very-dark-desaturated-blue);
}
.title {
  display: flex;
  justify-content: space-between;
}
.toggle {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.theme {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin-bottom: 14px;
}
.right,
.control {
  display: flex;
  justify-content: flex-end;
}
.theme p {
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
}
h3 {
  color: #fff;
}
.control .box,
#screen {
  background-color: var(--Very-dark-desaturated-blue3);
}
.control .box {
  border-radius: 30px;
  height: 15px;
  margin-left: 3px;
  position: relative;
  width: 48px;
}
.control #circle {
  background-color: var(--Red);
  border-radius: 30px;
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}
.control p {
  color: #fff;
  cursor: pointer;
  margin-right: 4px;
  text-transform: uppercase;
}
.screen {
  width: 450px;
}
#screen {
  border: 0;
  border-radius: 7px;
  color: #fff;
  font-size: 32px;
  height: 80px;
  margin-top: 10px 0;
  outline: none;
  text-align: right;
  width: 100%;
}
button {
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 3px opx opx var(--Grayish-orange);
  cursor: pointer;
  font-size: 32px;
  margin: 10px 10px;
  outline: none;
  padding: 15px;
  width: 90px;
}
.button {
  background-color: var(--Very-dark-desaturated-blue2);
  border-radius: 7px;
  display: flex;
  flex-flow: wrap;
  margin: 8px 0;
  padding: 10px 5px;
  width: 450px;
}
.reset,
.equal {
  color: #fff;
  font-size: 16px;
  width: 200px;
}
.reset,
.delete {
  box-shadow: opx 3px 0px 0px var(--Very-dark-desaturated-blue2);
  background-color: var(--Desaturated-dark-blue);
  color: #fff;
  font-size: 16px;
}
.equal {
  background-color: var(--Red);
  box-shadow: 0px 3px 0px 0px var(--Dark-red);
}
body.active2 {
  background-color: var(--Very0-dark-violet);
}
body.active3 {
  background-color: var(--Light-gray);
}
body.active1 .button,
body.active1 .control .box {
  background-color: var(--Grayish-red);
}
body.active1 .toggle h3 {
  color: black;
}
body.active2 .control #circle,
body.active2 .equal {
  background-color: var(--Pure-cyan);
}
body.active1 .control #circle,
body.active1 .equal {
  background-color: var(--Orange);
}
body.active1 .control p,
body.active1 .right p {
  color: #111;
}
body.active2 .right p,
body.active2 #screen,
body.active2 .control p,
body.active2 .toggle h3,
body.active2 button {
  color: var(--Light-yellow);
}
body.active1 #screen {
  background-color: var(--Very-light-gray);
  color: #111;
}
body.active1 button,
body.active1 .reset,
body.active1 .delete {
  box-shadow: 0px 3px 0px 0px var(--Dark-grayish-orange);
}
body.active2 #screen,
body.active2 button,
body.active2 .button {
  background-color: var(--Very-dark-violet);
}
body.active2 button {
  background-color: var(--Dark-magenta);
}
body.active1 .reset,
body.active1 .delete {
  background-color: var(--Dark-moderate-cyan);
}
body.active2 .reset,
body.active2 .delete {
  background-color: var(--Dark-violet);
  box-shadow: 0px 3px 0px 0px var(--Dark-magenta);
  color: #fff;
}
body.active1 .equal {
  box-shadow: 0px 3px 0px 0px var(--Dark-orange);
}
body.active2 .equal {
  box-shadow: 0px 3px 0px 0px var(--Soft-cyan);
  color: #fff;
}
