@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Barlow+Condensed:wght@400;700&family=Barlow+Semi+Condensed:wght@500;600&family=Barlow:wght@400;600&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Montserrat:wght@700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Barlow+Condensed:wght@400;700&family=Barlow+Semi+Condensed:wght@500;600&family=Barlow:wght@400;600&family=Fraunces:wght@700;900&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Montserrat:wght@700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&family=Rubik:wght@700&display=swap");
:root {
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);
  --font1: "Barlow", sans-serif;
  --font2: "Fraunces", serif;
  --Grayish-blue: hsl(210, 4%, 67%);
  --Soft-red: hsl(7, 99%, 70%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Yellow: hsl(51, 100%, 49%);
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  width: 100vw;
}
section {
  height: 100vh;
  width: 100%;
}
.img-header {
  background-image: url(../images/desktop/image-header.jpg);
  height: 700px;
  padding-top: 20px;
  width: 100%;
}
.logo {
  width: 10rem;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
.header-heading {
  color: var(--White);
  font-family: "Fraunces", serif;
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}
.heading {
  color: var(--Very-dark-desaturated-blue);
  font-size: 40px;
}
.heading,
.cherry-heading,
.orange-heading {
  font-family: "Fraunces", serif;
  font-size: 40px;
}
.para,
.testinomial-heading,
.emily,
.thomas,
.jennie {
  color: var(--Dark-grayish-blue);
}
.job {
  color: var(--Grayish-blue);
}
.name {
  color: var(--Very-dark-desaturated-blue);
  font-family: "Fraunces", serif;
  font-size: 20px;
}
.para,
.cherry-para,
.orange-para,
.emily,
.thomas,
.jennie {
  font-weight: bold;
  line-height: 25px;
}
.button {
  border-bottom: 3px solid var(--Yellow);
  border-style: none;
  color: var(--Very-dark-desaturated-blue);
  font-family: "Fraunces", serif;
  margin-left: -300px;
}
.arrow {
  margin-left: 650px;
  margin-top: 100px;
}
li {
  display: inline-block;
  font-size: medium;
  list-style-type: none;
  margin-right: 50px;
}
a:hover,
button:hover {
  background-color: var(--Grayish-blue);
  border-radius: 20px;
  color: var(--Very-dark-desaturated-blue);
  padding: 10px;
}
a:hover,
button:hover,
.button {
  text-transform: uppercase;
}
a {
  color: var(--White);
  text-decoration: none;
}
.menu {
  margin-left: 500px;
}
.text-egg,
.cup-text,
.members-block {
  height: 600px;
  width: 100%;
}
.text-egg-left-block,
.cup-text-right-block {
  font-weight: bolder;
  padding: 140px;
  width: 50%;
}
.text-egg-left-block,
.cup-text-right-block,
.members-block {
  align-items: center;
  justify-content: center;
}
.text-egg-left-block,
.cup-text-right-block,
.emily,
.thomas,
.jennie,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.egg-img {
  height: 600px;
  width: 100%;
}
.cherry-orange {
  height: 100%;
  padding-left: 1px;
  width: 100%;
}
.cub-img,
.cherry,
.orange {
  width: 670px;
}
.cherry {
  background-image: url(../images/desktop/image-graphic-design.jpg);
}
.orange {
  background-image: url(../images/desktop/image-photography.jpg);
}
.cherry,
.orange {
  height: 100%;
  margin-top: -100px;
  padding: 150px;
  text-align: center;
}
.cherry,
.orange,
.img-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cherry-heading,
.orange-heading {
  margin-bottom: 40px;
  margin-top: 250px;
}
.cherry-heading,
.cherry-para {
  color: var(--Dark-desaturated-cyan);
}
.orange-heading,
.orange-para {
  color: var(--Dark-blue);
}
.testinomial-heading {
  font-family: "Fraunces", serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.members-block {
  justify-content: space-around;
  margin-left: 10px;
  padding-right: 40px;
}
.member-img {
  border-radius: 50%;
}
.emily,
.thomas,
.jennie {
  height: 400px;
}
.emily,
.thomas,
.jennie,
.footer {
  height: 400px;
  text-align: center;
  width: 100%;
}
.footer-img,
.cherry-orange,
.text-egg,
.cup-text,
.members-block {
  display: flex;
}
.footer-img1 {
  height: 400px;
  width: 350px;
}
.footer {
  background-color: var(--Dark-moderate-cyan);
  padding-top: 50px;
}
.footer a {
  color: var(--Dark-desaturated-cyan);
  font-weight: bold;
}
.footer-menu {
  margin-left: 60px;
}
.socialmedia-icons img {
  padding: 10px;
}
.socialmedia-icons img:hover {
  background-color: var(--White);
  border-radius: 50%;
  padding: 5px;
}
