:root {
  --DarkGrayishBlue: hsl(230, 11%, 40%);
  --GrayishBlue: hsl(231, 7%, 65%);
  --LightGrayishBlue: hsl(207, 33%, 95%);
  --Red: hsl(0, 100%, 68%);
  --VeryDarkBlue: hsl(230, 29%, 20%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  overflow-x: hidden;
  position: relative;
}
h1 {
  font-family: "Barlow Condensed", sans-serif;
}
li {
  list-style: none;
}
a {
  font-family: "Barlow Condensed", sans-serif;
}
.navbar-mobile,
.icon-hamburger {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
}
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  color: var(--VeryDarkBlue);
  display: block;
  font-weight: 400;
  margin-left: 40px;
  text-transform: uppercase;
}
.navbar li a span {
  color: var(--GrayishBlue);
  margin-left: 80px;
}
.wrapper {
  align-items: center;
  display: flex;
}
.wrapper .heading {
  flex: 0 0 50%;
}
.wrapper .heading h3 {
  color: var(--GrayishBlue);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.heading h3 span {
  background-color: var(--VeryDarkBlue);
  border-radius: 35px;
  color: #fff;
  letter-spacing: 1px;
  padding: 0.5rem 1.5rem;
}
.wrapper .heading h1 {
  font-weight: 700;
  font-size: 4.5rem;
}
.wrapper .heading .heading-text {
  color: var(--DarkGrayishBlue);
  font-size: 1.8rem;
  margin: 20px 0 40px 0;
  opacity: 0.8;
  width: 80%;
}
.wrapper .heading .button {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.wrapper .heading button {
  background-color: var(--Red);
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  flex: 0 0 50%;
  font-size: 1.2rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  outline: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
}
button:hover {
  opacity: 0.5;
}
a:hover {
  opacity: 0.5;
}
.wrapper .heading .btn-text {
  color: var(--GrayishBlue);
  font-size: 1.2rem;
  letter-spacing: 3px;
  margin-left: 2rem;
  text-transform: uppercase;
}
.background {
  background: var(--LightGrayishBlue);
  border-bottom-left-radius: 15rem;
  height: 70vh;
  left: 50%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
@media (max-width: 500px) {
  .navbar ul {
    display: none;
  }
  .icon-hamburger {
    display: block;
  }
  .nav {
    margin: 70px 30px;
  }
  .active .navbar-mobile {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(106, 106, 109, 0.2);
    display: block;
    margin: auto;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 85%;
    z-index: 1;
  }
  .navbar-mobile li a {
    color: var(--VeryDarkBlue);
    font-weight: 700;
    line-height: 3;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .navbar-mobile li span {
    color: var(--GrayishBlue);
    letter-spacing: 2px;
  }
  hr {
    opacity: 0.5;
  }
  .background {
    border-bottom-left-radius: 5rem;
    height: 70vh;
  }
  .wrapper {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .wrapper .picture {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .wrapper .picture img {
    transform: scale(1.5) translateX(5rem);
    width: 100%;
  }
  .wrapper .heading h1 {
    font-size: 2.5rem;
    margin: 20px auto;
    width: 90%;
  }
  .wrapper .heading {
    width: 90%;
  }
  .wrapper .heading h3 {
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 150px auto 50px 10px;
  }
  .wrapper .heading .heading-text {
    font-size: 1.6rem;
    margin: 30px auto;
    width: 90%;
  }
  .wrapper .button {
    margin: 20px 20px 50px 20px;
    width: 90%;
  }
  .wrapper .button button {
    font-size: 0.9rem;
    letter-spacing: 0;
    padding: 10px;
  }
  .wrapper .button .btn-text {
    font-size: 0.9rem;
    letter-spacing: 0;
    margin-left: 0.5rem;
  }
}
