@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Barlow&family=Barlow+Condensed:wght@400;700&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Very-Light-Grayish-Blue);
  background-image: url(../images/bg-bottom.svg), url(../images/bg-top.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  min-height: 100vh;
}
.container-top {
  flex-direction: column;
  margin-top: 10px;
  padding: 60px 20px;
  text-align: center;
}
.content {
  margin-top: 30px;
}
.content label {
  margin: 0 20px;
}
.container-bottom {
  margin-bottom: 40px;
  margin-top: 10px;
}
.left-box,
.center-box,
.right-box {
  border-radius: 10px;
  color: var(--Dark-Grayish-Blue);
  flex-direction: column;
  padding: 30px;
}
.content,
.container-bottom,
.left-box,
.center-box,
.right-box,
.container-top {
  align-items: center;
  display: flex;
  justify-content: center;
}
h1 {
  color: var(--Dark-Grayish-Blue);
  font-size: x-large;
}
.content p {
  color: var(--Light-Grayish-Blue);
}
.left-box {
  margin: 8px 0px;
}
.center-box {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: var(--Very-Light-Grayish-Blue);
  height: 440px;
  width: 300px;
}
.right-box {
  margin: 5px 0;
}
.right-box,
.left-box {
  background-color: white;
  height: 400px;
}
.center-box,
.right-box,
.left-box {
  justify-content: space-evenly;
  width: 300px;
}
li {
  border-bottom: 1px solid var(--Light-Grayish-Blue);
  list-style: none;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 200px;
}
.amount {
  font-size: 3rem;
}
.amount1-annual,
.amount1-month {
  font-size: xx-large;
  text-align: center;
  text-align: center;
}
.button {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}
.button1 {
  background-color: white;
  color: var(--Grayish-Blue);
}
.button,
.button1 {
  padding-left: 60px;
  padding-right: 60px;
  padding: 10px;
}
.switch input {
  opacity: 0;
}
.switch {
  display: inline-block;
  height: 32px;
  position: relative;
  width: 60px;
}
.slider {
  background: linear-gradient(180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 35px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.slider,
.slider::before {
  position: absolute;
}
.slider:hover {
  background: var(--Light-Grayish-Blue);
}
.slider::before {
  background-color: #fff;
  border-radius: 50%;
  bottom: 4px;
  content: " ";
  height: 25px;
  left: 4px;
  transition: 0.4s;
  width: 25px;
}
input:checked + .slider::before {
  transform: translateX(26px);
}
.amount1-month {
  display: none;
}
.button,
.button1:hover,
.switch {
  cursor: pointer;
}
