:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-blue: hsl(234, 17%, 12%);
}

@keyframes kf-color-mix {
  0% {
    color: var(--Very-dark-blue);
  }
  100% {
    color: var(--Soft-red);
  }
}

#result {
  animation: kf-color-mix 1s -0.1s linear forwards paused;
  background: currentColor;
  font-family: "Red Hat Text";
}

body {
  text-align: center;
  margin: 0;
}

h3 {
  color: white;
}

.stars {
  background: url("images/bg-stars.svg");
}

.footer {
  background: url("images/pattern-hills.svg");
  position: relative;
  margin-top: 3%;
  height: 170px;
  width: 100%;
  position: relative;
  text-align: center;
}

.upper-text {
  margin-top: 5%;
  letter-spacing: 10px;
}

.day-card {
  width: 160px;
  height: 160px;
  background-color: var(--Dark-desaturated-blue);
  border-radius: 15px;
  box-shadow: 8px 8px var(--Very-dark-blue);
}

.hour-card {
  width: 160px;
  height: 160px;
  background-color: var(--Dark-desaturated-blue);
  border-radius: 15px;
  box-shadow: 8px 8px var(--Very-dark-blue);
}

.minute-card {
  width: 160px;
  height: 160px;
  background-color: var(--Dark-desaturated-blue);
  border-radius: 15px;
  box-shadow: 8px 8px var(--Very-dark-blue);
}

.second-card {
  width: 160px;
  height: 160px;
  background-color: var(--Dark-desaturated-blue);
  border-radius: 15px;
  box-shadow: 8px 8px var(--Very-dark-blue);
}

.card-div {
  display: inline-block;
  margin: 2%;
}

.time-div {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.days {
  color: var(--Soft-red);
  text-align: center;
  font-size: 90px;
  margin: 0;
  padding-top: 10px;
}

.hours {
  color: var(--Soft-red);
  text-align: center;
  font-size: 90px;
  margin: 0;
  padding-top: 10px;
}

.minutes {
  color: var(--Soft-red);
  text-align: center;
  font-size: 90px;
  margin: 0;
  padding-top: 10px;
}

.seconds {
  color: var(--Soft-red);
  text-align: center;
  font-size: 90px;
  margin: 0;
  padding-top: 10px;
}

.title {
  margin-top: 0;
  color: var(--Soft-red);
  font-size: 70px;
  letter-spacing: 10px;
}

.social {
  position: relative;
  top: 70px;
}

.social-logo {
  padding: 0 20px 0 20px;
}
